
body {
    margin: 0;
}

header {
    background-color: #65412d;
    height: 200px;
    display: flex;
    align-items: center;
}

.right-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right-items div {
    margin-left: 90px;
}

.right-items div:last-child {
    margin-right: 200px;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 10px;
   font-size: xx-large;
   color:#65412d;
}
h4{
    margin: 10px 0;
    color: #65412d;
    text-align: center;
    font-size: larger;
}
p{
    font-size: large;
}

.headicon {
    width: 100px;
    margin: 50px;
    float: left;
}

.headbox {
    border: 70px;
}

.menu1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: space-around;
    flex-wrap: nowrap;
    background-color: #65412d;
    margin-top: 0;
}

.line {
    border-left: 3px solid #ffa554;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.dubnaphon {
    background-size: cover;
    background-color: #a5d1cc;
    height: 300px;
}

.Htext {
    text-align: center;
    vertical-align: middle;
}

div.container6 {
    height: 300px;
    background-size: cover;
    background-color: #a5d1cc;
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
}

.block-info-text {
    margin-top: 100px;
    margin-left: 150px;
}
div.container6 :last-child{
    margin-right: 0%;
}

.block-info-text div {
    margin-bottom: 30px;
}

.whitephon {
    color: #c1b197;
    height: 300px;
}

.fatty_cat {
    width: 460px;
    height: 280px;
}

.zatycka{
    margin-bottom: 20px;
}
div.text-block{
    display:flex;
    align-items: center;
    padding: 0 250px;
}
.textmargin1 {
    margin-right: auto;
    display: inline-block;
    width: 900px;
    margin-top: 0;
}
.text-block-photos{
    height: 190px;
    width: 190px;
    object-fit: cover;
    display: inline-block;
}

div.icons-block {
    display: flex;
    flex-direction: column;
    background-size: ;
    background-color: #fcfcc6;

}
.com-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 250px;
}
.com-icons div{
    display: flex;
    flex-direction: column;
    
}
.icons-style{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.logos {
    height: 60px;
    width: 60px;
    border-radius: 3px;
}

.brown_text {
    color: #c1b197;
}

.white_text {
    color: #65412d;
}

.foot {
    padding: 5px;
    background-color: #65412d;
}

.foottext {
    float: right;
}


/*Цвета: #a5d1cc(светлосиний)
#ffa554 ( светло оранжевый)
#fcfcc6 (бледножелтый)
#c1b197 (бледнокоричневый)
*/ 
