
body {
    margin: 0;
}

header {
    background-color: #65412d;
    height: 200px;
    display: flex;
    align-items: center;
}

.right-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right-items div {
    margin-left: 20px;
}

.right-items div:last-child {
    margin-right: 100px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.headicon {
    width: 100px;
    margin: 50px;
    float: left;
}

.headbox {
    border: 70px;
}

.menu1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: space-around;
    flex-wrap: nowrap;
    background-color: #65412d;
    margin-top: 0;
}

.line {
    border-left: 3px solid #ffa554;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.dubnaphon {
    background-size: cover;
    background-color: #a5d1cc;
    height: 300px;
}

.Htext {
    text-align: center;
    vertical-align: middle;
}

div.container6 {
    height: 300px;
    background-size: cover;
    background-color: #a5d1cc;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.block-info-text {
    margin-top: 50px;
}

.block-info-text div {
    margin-bottom: 50px;
}

.blackphon {
    color: black;
    padding-top: 10px;
}

.whitephon {
    color: #c1b197;
    height: 300px;
}

.fatty_cat {
    width: 460px;
    height: 280px;
}

.text1 {
    margin-left: 135px;
}

.textmargin1 {
    margin-left: 135px;
    display: inline-block;
    width: 700px;
}

.photo {
    height: 150px;
    width: 150px;
    display: inline-block;
}

.icons {

}

.logos {
    height: 60px;
    width: 60px;
    border-radius: 3px;
}

.brown_text {
    color: #c1b197;
}

.white_text {
    color: #65412d;
}

.foot {
    padding: 5px;
    background-color: #fcfcc6;
}

.foottext {
    float: right;
}


/*Цвета: #a5d1cc(светлосиний)
#ffa554 ( светло оранжевый)
#fcfcc6 (бледножелтый)
#c1b197 (бледнокоричневый)
*/ 
